$text-color: #000;
$background-color: rgba(252, 239, 218, 0.1);
$sticky-background-color: rgba(253, 239, 215, 0.41);

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background-color: $background-color;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: $sticky-background-color;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 10;

  .logo img {
    height: 50px;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      gap: 20px;

      li a {
        text-decoration: none;
        color: $text-color;
        font-weight: bold;
      }
    }
  }

  .mediaIcons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 100px;

    img {
      height: 30px;
      width: 30px;
    }
  }

  .contact a {
    text-decoration: none;
    color: $text-color;
    font-weight: bold;
  }
}

.background {
  position: absolute;
  background-size: auto;
  width: min-content;
  height: min-content;
  z-index: 1;

  img {
    width: 100%;
    height: auto;
  }
}

#firstPage {
  display: flex;
  flex-direction: row;
  background-color: $background-color;

  img {
    position: absolute;
    right: 0;
  }

  .hero {
    text-align: left;
    margin-left: 5%;
    padding: 50px 20px;
    width: 60%;
    position: relative;
    z-index: 5;

    h1 {
      font-size: 3em;
      font-weight: bolder;
      font-family: "Arial Black";
    }

    p {
      font-size: 1.2em;
      margin: 20px 0;
    }

    button {
      padding: 10px 20px;
      font-size: 1em;
      background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%);
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }
}

.controls {
  display: flex;
  justify-content: center;

  a {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-family: "Arial Black";

    svg {
      margin-left: 40%;
    }
  }
}

#aboutTestTask {
  margin-left: 5%;
  padding-top: 10vh;

  img {
    height: 35%;
    width: 35%;
    margin-right: 5%;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .text {
    font-family: Arial, sans-serif;

    p {
      font-weight: bold;
    }
  }
}

#aboutUs {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%);
  padding-left: 5%;
  margin: 12vh 0;
  height: 50vh;

  main {
    width: 50%;

    h2, h5 {
      font-family: "Arial Black";
    }
  }
}
footer{
  width: 100%;
  div.text{
    background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%);
    width: 30vw;
    padding: 20px;
    font-size: 13px;
  }
  div.links{
    background-image: url("footerImg.png");
    background-size: cover;
    background-repeat: no-repeat;

  }
}
